<article class="col-5 col-md-5 col-lg-3 mx-lg-3 d-flex flex-column my-4 p-2 text-center card border-success">
  <img class="img-fluid rounded" style="border-color: black" src=<%= imagen %> alt=<%= nombre %> />
  <h3 class="text-secondary" style="border-color: black"> <%= nombre %> </h3>
  <b class="my-1" style="border-color: black">$ <%= precio %> </b>
</article>